body {
    background-image: url("../../images/background.png");
    background-color: #cccccc;
}

hr.my-color {
    border-color: #00aa7d;
}

#courses-nav-container {
    display: none;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black
}

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

#nav-bar .logo {
    padding: 5px 5px 5px 120px;
}

#nav-bar .menu {
    padding: 15px 20px 0px 0px;
}

#nav-bar .navbar-icons {
    padding-right: 150px;
    float: right;
}

#content {
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid #bcbcbc;
    box-shadow: 2px 2px 10px #888888;
    background-color: #f6f6f7;
    height: auto;
}

.hr-horizontal-top {
    margin-left: 40px;
    margin-right: 30px;
    height: 1px;
    color: #bcbcbc;
    background-color: #bcbcbc;
    position: relative;
    margin-top: -10px;
}

.hr-horizontal-bot {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    height: 1px;
    color: #bcbcbc;
    background-color: #bcbcbc;
    position: relative;
}

#content .notification {
    margin: 10px;
    border: 1px solid #959da9;
    border-radius: 5px;
    height: 50px;
}

#content .notification-message {
    background-color: #a0bed1;
}

#content .notification-evaluation {
    background-color: #b6b0c8;
}

#content .notification-exam {
    background-color: #96d7a9;
}

#content .notification p {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #6f6f6f;
}

#content .notification-message p {
    padding-top: 15px;
}

.vertical-line {
    margin-top: 8px;
    margin-left: 30px;
    height: 30px;
    border-left: 1px solid #6f6f6f;
}

.message {
    text-align: center;
    margin-left: -50px;
    color: #ff5e56;
    font-size: 18px;
    font-weight: bold;
}

.evaluate-now {
    margin-top: 10px;
}

.course-title {
    color: #6f6f6f;
    margin-left: 20px;
    margin-top: 20px;
}

.calendar-text-big {
    font-weight: bold;
    font-size: 18px;
}

.calendar-text-small {
    font-size: 14px;
    color: grey;
}

.group {
    margin-left: 20px;
    margin-top: 20px;
}

.calendar-logo,
.attendance-icon {
    margin-bottom: 25px;
}

.group-coursedate {
    padding-left: 10px;
    padding-right: 15px;
    border-right: 2px solid #bcbcbc;
}

.group-attendance {
    padding-left: 15px;
}

.time-left {
    float: right;
    margin-right: 50px;
}

.group>div {
    display: inline-block;
}

.materials-icon {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

.license-icon {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

.license-icon>a>img {
    width: 80px;
}

.course-info {
    /* border:1px solid black; */
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
}

.not-logged-course-icon {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}