.italic {
    font-style: italic;
}
#user-profile-container {
    background-color: #f6f6f7;
    width: 100%;
    height: 570px;
    font-family: 'Roboto', sans-serif;
    padding: 40px 60px 60px 50px;
    display: none;
}
#user-profile-container ul, li {
    padding: 0;
    margin: 0;
}

#my-courses-container {
    width: 940px;
    height: 420px;
    border-bottom: 1px solid  #a7a7a7;
}
#profile-panel {
    width: 200px;
    height: 420px;
}
#profile-pic img{
    margin-left: 25px;
    border-radius: 50%;
    border-color: 1px solid #00ff00;
    width: 150px;
    height: 150px;
}
.profile-list {
    margin-top: 45px;
    text-align: center;
    color: #1e4b6a;
    font-size: 14px;
}
.profile-list li {
    list-style: none;
    margin-bottom: 20px;
}
#my-courses-title {
    clear: both;
    border-bottom: 1px solid #a7a7a7;
}
#my-courses-title p {
    margin-top: 30px;
    color: #535353;
    font-size: 18px;
}
#exit-button {
    margin-top: 30px;
    width: 200px;
    background-color: white;
    border: 1px solid #1e4b6a;
    padding: 10px;
    text-align: center;
    color: #1e4b6a;
    font-size: 20px;

}
#courses-panel {
    margin-top: 25px;
}
#my-courses-first-row {
    margin-bottom: 80px;

}
#my-courses-second-row {
    
}
.my-course {
    width: 275px;
    height: 90px;
    border: 1px solid #3e3e3e;
    position: relative;
    padding: 5px;
}
.my-course-title a {
    color: #1e4b6a;
    font-size: 15px;
}
.my-course-content {
    height: 60px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.my-course-homeworks {
    width: 120px;
    height: 20px;
    margin-top: 40px;
}
.my-tracks {
    width: 145px;
    height: 60px;
    text-align: right;
    position: relative;
}
.my-tracks ul {
    position: absolute;
    bottom: 0;
    right: 0;
}
.my-tracks li {
    list-style: none;
}
.track-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.bg-web {
    background-color: #843399;
}
.bg-frontend {
    background-color: #e14209;
}
.bg-mobile {
    background-color: #feb322;
}
.bg-school-academy {
    background-color: #62e636;
}
.my-course-list-lis {
    margin-right: 54px;
    margin-left: 0px;
    display: inline-block;
    list-style: none;
}
ul.my-course-list li:last-child {
    margin-right: 0;
}
